[submodule "apps/Fallout 4"]
	path = apps/Fallout 4
	url = https://github.com/DoubleYouC/Bethini-Pie-Fallout-4-Plugin.git
[submodule "apps/Skyrim Special Edition"]
	path = apps/Skyrim Special Edition
	url = https://github.com/DoubleYouC/Bethini-Pie-Skyrim-Special-Edition-Plugin.git
[submodule "apps/Starfield"]
	path = apps/Starfield
	url = https://github.com/DoubleYouC/Bethini-Pie-Starfield-Plugin.git
[submodule "apps/Fallout New Vegas"]
	path = apps/Fallout New Vegas
	url = https://github.com/DoubleYouC/Bethini-Pie-Fallout-New-Vegas-Plugin.git
